body {
    margin: 0;
    font-family: Arial, serif;
    background-color: #000000;
}

.header {
    background: linear-gradient(to right,#B67E7D, #640000, #420001, #040B15);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0;
    width: 100%;
    
}

.header h1 {
    margin: 0;
    font-size: 36px;
}

.header p {
    margin: 5px 0 0;
    font-size: 16px;
}


.navbar {
    background-color: #000000b1;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    background-color: #f06767;
}



.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin: 0 20px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}


.contact-section {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  width: 500%;
  
}

form label {
  display: block;
  margin-top: 15px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #da4848;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

#form-feedback {
  margin-top: 15px;
  font-weight: bold;
}


footer {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  background-color: #000000;
}
